a {
    color: #111;
    text-decoration: none;
}

a:hover {
    color: #EAEAEA;
}

body {
    background-color: #EAEAEA;
    margin: 0;
}

#cloud1,
#cloud2 {
    height: 10%;
    width: 10%;
}

#cloud1 {
    position: absolute;
    right: 5%;
    top: 1%;
}

#cloud2{
    position: absolute;
    left: 20%;
}

#code-image {
    float: left;
    height: 6rem;
    margin-right: 3rem;
    width: 6rem;
}

em {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h1 {
    font-family: 'Merienda One', cursive;
    font-size: 3.5rem; /*100% & 1rem/em = 16px*/
    margin-top: 0;
    padding-top: 10px;
}

h2, p {
    font-family: 'Prata', serif;
}

.head {
    background-color: #252A34;
    color: #EAEAEA;
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
}

.head.page,
.head.page h1 {
    padding-top: 0 !important;
}

.head li {
    list-style: none;
}

.hide{
    display: none;
}

hr{
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    color: #FF2E63;
    width: 50%;
}

#lake{
    max-height: 25rem;
    max-width: 80%;
}

li {
    list-style: none;
}

.lang{
    text-align: left;
    margin-left: 25px;
}

.languageSkill {
    margin-left: auto;
    margin-right:auto;
    text-align: left;
    width: 40%;
}

li.nav,
a.nav {
    color: #EAEAEA !important;
    display: inline;
    padding-right: 5px;
}

.link:hover {
    cursor: pointer;
}

.menu {
    padding-left: 0;
}

#profile {
    display: block;
    margin: 5px auto;
}

table {
    border: 3px dotted #252A34;
    margin: auto;
}

.text {
    background-color: #08D9D6;
    padding: 5px 10px;
    margin: 5px auto;
    text-align: center;
    width: 70%;
}

.text.social {
    margin-bottom: 15px;
}

ul.lang li:first-child::before {
    background-image: url('images/html.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

ul.lang li.css::before {
    background-image: url('images/css.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

ul.lang li.js::before {
    background-image: url('images/js.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}