
/* links */
a {
    color: #111;
    text-decoration: none;
}

a:hover {
    color: #EAEAEA;
    text-decoration: none;
}

.contact {
    font-size: 1.5rem;
}

.link:hover {
    cursor: pointer;
}

/* home button */
button.btn{
    margin-top: 5px;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    background-color: #252A34;
    padding: 3px;
}

#home{
    color: #eaeaea !important;
}

/* images and icons */
#cloud1,
#cloud2 {
    height: 10%;
    width: 10%;
    position: absolute;
}

#cloud1 {
    right: 5%;
    top: 1%;
}

#cloud2{
    left: 20%;
}

.skill-img {
    position: relative;
    height: 6rem;
    margin: 1rem;
    width: 6rem;
}

.icon {
    color: #111;
    margin: 1rem auto 2rem auto;
}

.linkedin {
    margin-right: 1rem;
}

.github {
    margin-left: 1rem;
}

.icon:hover {
    color: white;
}

#lake{
    max-height: 25rem;
    max-width: 80%;
}

#profile {
    display: block;
    margin: 2rem auto;
}

.languageSkill {
    text-align: center;
    width: 80%;
}

.languageSkill, .frameworkSkill {
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin: 0;
}

.work-img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.work-img:hover {
    transform: scale(1.05) !important;
}

.col-md-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 300px;
    height: 350px;
}

.caption {
    max-width: 300px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8rem;
    background-color: #FF2E63;
}

/* list photos */
li.html::before {
    background-image: url('images/html.svg');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.css::before {
    background-image: url('images/css.svg');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.js::before {
    background-image: url('images/js.svg');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.boot::before {
    background-image: url('images/bootstrap.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.jq::before {
    background-image: url('images/jquery.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.sass::before {
    background-image: url('images/sass.svg');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.node::before {
    background-image: url('images/nodejs.svg');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.git::before {
    background-image: url('images/git.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.github::before {
    background-image: url('images/github.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.ejs::before {
    background-image: url('images/ejs.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.react::before {
    background-image: url('images/react.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.pass::before {
    background-image: url('images/passport.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

li.mong::before {
    background-image: url('images/mongodb.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: -35px;
    width: 15px;
}

/* regular html elements */

body {
    background-color: #EAEAEA;
    margin: 0;
}

em {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h1 {
    font-family: 'Merienda One', cursive;
    font-size: 3.5rem; /*100% & 1rem/em = 16px*/
    margin-top: 0;
    padding-top: 10px;
}

h2 {
    padding-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merienda One', cursive;
}

p, a, li {
    font-family: 'Prata', serif;
}

hr{
    border-width: 5px;
    border-style: none;
    border-top: 6px;
    border-top-style: dotted;
    color: #FF2E63;
    width: 50%;
}

li {
    list-style: none;
}

.hide{
    display: none;
}

/* header content */
.head {
    background-color: #252A34;
    color: #EAEAEA;
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
}

.head-menu {
    color: #EAEAEA !important;
    display: inline;
    padding-right: 5px;
}

.menu {
    padding-left: auto;
    padding-right: auto;
}


/* containers for content */
.text {
    background-color: #08D9D6;
    padding: 5px 10px;
    margin: 5px auto;
    text-align: center;
    width: 70%;
}

.text.social {
    margin-bottom: 15px;
}